@model AppIFESCalendar.Models.GoogleCalendar

@{
    ViewBag.Title = "Calendário";
}

<h2>Calendário</h2>

<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Descrição
        </th>        
    </tr>

    @foreach (var item in Model.Eventos.Items)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
    }

</table>