@model AppIFESCalendar.Models.GoogleCalendar
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Credencial.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credencial.Token)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Credencial.UserId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Credencial.Token)
        </td>
    </tr>
</table>
